p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Roboto", serif;
}

body {
  background-color: rgb(14, 12, 12);
  color: white;
  background-size: cover;
  width: auto;
  overflow-x: hidden;
  font-family: "Roboto", serif;
  margin: 0px;
  padding-top: 2.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

ul::marker {
  color: white;
}

.nav-bar {
  width: 100%;
  display: inline-block;
  /* background-color: #1c539f; */
  font-family: "Roboto", serif;
  font-weight: 700 !important;
  padding-top: 10px;
}

.nav-content {
  display: flex;
  align-items: center;
}

.nav-content .logo-touch-target {
  display: inline-flex;
  height: 60%;
}

.nav-content .nav-logo {
  height: 60px;
  margin: auto;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo img {
  width: 200px;
}

.nav-content nav {
  display: block;
  text-align: right;
  padding-top: 0px;
  padding-right: 0px;
}

.profile {
  /* background-color: #1d539f !important; */
  margin-bottom: 10px;
  display: flex;
  margin-top: 2rem;
}

.profile-desc {
  margin-left: 1rem;
}

.profile h1 {
  font-size: 50px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

.profile img {
  border-radius: 20%;
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.profile p {
  margin-top: 1rem;
}

.profile .profile-picture {
  height: 110px;
}

.banner {
  padding: 20px 0px 50px 0px;
  height: 150px;
  /* background-color: #1d539f; */
}

.banner .logo {
  max-width: 180px;
  max-height: 60px;
  width: auto;
  height: auto;
}

.banner .title {
  color: white;
  font-size: 50px;
  font-weight: 700;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1rem;
}

.subhead {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.work-list {
  text-align: right;
  margin-top: 20px;
}

.work-list li {
  font-size: 1rem;
  margin-bottom: 0.25rem;
  direction: rtl;
}

.hobby {
  text-align: left;
}

.pink-left {
  border-left-width: 5px;
  padding-left: 1rem;
  border-color: rgb(219 39 119);
  border-left-style: solid;
}

.cyan-right {
  border-right-width: 5px;
  padding-right: 2rem;
  border-color: rgb(34 211 238);
  border-right-style: solid;
}
