<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link lang="sass" rel="stylesheet" href="./static/styles/main.css" />
    <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />

    <title>{{ title }}</title>
  </head>

  <body>
    <header class="nav-bar">
      <div class="nav-content">
        <a href="/" style="margin-right: auto">
          <div class="nav-logo">
            <img src="./static/img/logo.svg" />
          </div>
        </a>
        {% for route in routes %}
        <a href="{{ URL }}/{{ route }}">{{ route }}</a>
        {% endfor %}
      </div>
    </header>

    <div class="profile">
      <div id="profile-picture" class="profile-picture">
        <img src="./static/img/warren_working.png" />
      </div>
      <div class="profile-desc">
        <h1>{{ title }}</h1>
        <p style="margin-top: 5px">Robotics & Computer Science</p>
      </div>
    </div>

    <div class="content">
      <div class="subhead">
        <div class="left">
          <p style="font-size: 1.35rem">
            I'm an avid maker from New York interested in robotics, full-stack
            development, and embedded security. I went to Bronx Science for high
            school, and I'm now an incoming freshman at Worcester Polytechnic
            Institute. In my free time, I like to skateboard around the city,
            lose my mind over controls engienering, and attend a buttload of
            hackathons :) You can learn more about me
            <a href="{{ about }}">here!</a>
          </p>
        </div>
      </div>
    </div>

    <div class="subhead" style="margin-top: 2rem">
      <div class="hobby">
        <img
          src="./static/img/warren-robot.png"
          style="width: 500px; border-radius: 6%"
        />
        <p style="font-size: 12px">
          Picture of me at my robotics competition! Yes I know, the cape is
          cool. You don't have to tell me.
        </p>
      </div>
      <div class="work-list">
        <h1 style="margin-top: 1.5rem">I've done a lot of work so far!</h1>
        <ul>
          <li>Sciborgs Robotics, Team Captain</li>
          <li>AtomHacks Director & Head of Programming</li>
          <li>Steamworks Robotics, FRC and FTC mentor</li>
          <li>MITRE, Embedded Security Intern</li>
        </ul>
      </div>
    </div>
  </body>
</html>
