<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta property="og:title" content="Personal Portfolio" />
    <meta property="og:description" content="My Personal Portfolio" />
    <meta property="og:url" content="{{ url }}" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />

    <link lang="sass" rel="stylesheet" href="./static/styles/main.css" />
    <link rel="icon" href="./static/img/favicon.ico" type="image/x-icon" />

    <title>{{ title }}</title>
  </head>

  <body>
    <header class="nav-bar">
      <div class="nav-content">
        <a href="/">
          <div class="nav-logo">
            <img src="./static/img/logo.svg" />
          </div>
        </a>
      </div>
    </header>

    <div class="profile">
      <div id="profile-picture" class="profile-picture">
        <img src="./static/img/warren_working.png" />
      </div>
      <div class="profile-desc">
        <h1>{{ title }}</h1>
        <p>Robotics & Computer Science</p>
      </div>
    </div>

    <h1>A bit about my experiences</h1>
    <p style="font-size: 1.3rem; margin-bottom: 2rem">
      I've been with MLH for around 4 years now, attending hackathons all the
      way back in my freshman year of high school. There was a point in time
      where I attended hackathons weekly for several months, and each one I went
      too I learned more and more. Later on, I went to join my school's robotics
      team, where I put grueling work everyday for 3 years to help my team
      succeed (that's where I learned most of my math and physics too!)
    </p>
    <h1>Places I've been to!</h1>
    <p style="font-size: 1.3rem; margin-bottom: 2rem">
      I was never really big on traveling until after I turned 18. I'm hoping to travel to a lot of places throughout the world to attend hackathons and other competitions. But until then, I've visited :
      <ul>
        <li>Florida</li>
        <li>Boston</li>
        <li>Worcester</li>
        <li>Hong Kong</li>
        <li>Toronto</li>
      </ul>
    </p>
  </body>
</html>
